*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse";
    src: url(fonts/norse/Norsebold.otf) format("opentype");
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 100vh;

    position: relative;
}

.logo-bar {
    margin-top: 180px;
    width: 100%;
    padding: 12px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background-color: rgba(0, 0, 0, 0.6);
}

.logo-bar img {
    height: 140px;
}

.logo-bar h1 {
    font-family: "Norse", sans-serif;
    color: white;
    font-size: 6rem;
    line-height: 1;
}

.photo-credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    color: cyan;
    font-family: "Norse", sans-serif;
    font-size: 0.8rem;
    word-spacing: 5px;
}

.photo-credit a {
    color: cyan;
}

.content {
    flex: 1;

    display: flex;
    flex-direction: column;

    background: #171717;
    color: white;
}

.intro {
    max-width: 60ch;
    padding: 120px 40px 50px;
    font-size: 1.3rem;
    font-weight: 600;

    line-height: 1.4;
}

.intro p:first-child {
    margin-bottom: 25px;
}

.form-container {
    background: #fafafa;
    color: #111;

    padding: 35px 45px;

    box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
}

#signup-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.form-field {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.form-field label {
    font-size: .75rem;
    letter-spacing: 1px;

    margin-bottom: 3px;

    word-spacing: 1px;
}

.form-field input {
    width: 100%;

    padding: 10px;

    border: 1px solid #E5E7EB;
    border-radius: 4px;

    font-size: 1rem;
}

input:focus {
    outline: none;

    border-color: #0664fb;

    box-shadow: 0 0 6px rgba(59,130,246,.4);
}

input[type="password"]:user-invalid {
    border-color: red;
}

.footer {
    padding: 35px 40px;

    color: #eee;
}

.footer button {
    background: #4A235A;

    color: white;

    border: none;

    padding: 15px 55px;

    border-radius: 8px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
}

.footer button:hover {
    background: #3C1D49;
}

.footer p {
    margin-top: 25px;
}

.footer a {
    color: #9d6cff;

    text-decoration: none;
    font-weight: 600;
}

.footer a:hover {
    text-decoration: underline;
}

input,
button {
    transition: .2s;
}
